#board {
	margin: auto;
	height: 35vw;
	width: 35vw;
}

#border {
	width: 99%;
	height: 99%;
	border: .6vw solid #222;
}

#title {
	margin: 1% auto 2% auto;
	text-align: center;
	font-size: 2vw;
	height: 2vw;
}

.square {
	float: left;
	width: 12.5%;
	height: 12.5%;
}

.piece {
	padding-top: 10%;
	margin: auto;
	width: 80%;
	height: 80%;
}

.bar-div {
	margin: 1% auto;
	width: 98%;
	height: 5%;
}

button {
	width: 12%;
	height: 100%;
	margin: .1% .2% 0 .2%;
	float: left;
	font-size: .9vw;
  background-color: #555;
	border: .3vw solid #444;
}

button:hover {
	background-color: #777777;
}

#speedText {
	border: .3vw solid #333;
	height: 70%;
	width: 20%;
	float: left;
	padding-bottom: .5%;
	margin-left: 1.8%;
	font-size: .9vw;
	text-align: center;
  background-color: #444;
	color: #fff;
}

.selector {
	float: left;
	width: 2.5vw;
	height: 2.5vw;
}

.selector:hover {
	width: 3.5vw;
	height: 3.5vw;
}
img {
	display: none;
}

img[src] {
	display: block;
}

.black {
	background-color: #777;
}

.white {
	background-color: #fff;
}
